.contenidoTurnos {
    padding: 5%;
    color:rgb(175, 174, 174);
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.sizeTurnos {
    font-size: 210%;
    padding-bottom: 8%;
}

.size_turnos{
    font-size: 130%;
    padding-bottom: 6%;
}

.sinDetalles{
    text-decoration: none;
    color:rgb(175, 174, 174);
}

.sinDetalles:hover {
    color:white;
}


.size_fotoTurnos {
    padding-top: 10%;
    width: 60%;
    border-radius: 100%;
}