.texto_checkout{ 
    display: flex;
    font-size:210%;
    font-family: 'Jost', sans-serif;
    color:rgb(175, 174, 174);
    padding-top: 5%;
    justify-content: center;
    padding-bottom: 5%;
}

.style_form {
    font-family: 'Jost', sans-serif;
    width: 15%;
    color:rgb(175, 174, 174);
}

.alinear_form {
    display: flex;
    justify-content: center;
}

.style_form_txt {
    padding-top: 7%;
    padding-bottom: 0.1%;
    font-size: 110%;
    display: flex;
    justify-content: center;
}

.btn_style_form {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    }