.padding_contenido {
    padding-top: 10% !important;
    padding: 5%;
    color:rgb(175, 174, 174);
    font-family: 'Jost', sans-serif;
    text-align: center;
}

.size_home{
    font-size: 270%;
}

.size_home2 {
    padding-top: 2%;
    font-size: 290%;
}
