
.titulo_login {
    color: rgba(255, 255, 255, 0.671);
    display: flex;
    justify-content: center;
    padding: 8%;
    font-size: 250%;
    font-family: 'Jost', sans-serif;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.padding_reg {
    color: rgba(255, 255, 255, 0.671);
    font-size: 100%;
    font-family: 'Jost', sans-serif;
    padding-top: 1%;
}

.botonera_registrarse{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1% ;
}

.botonera_registrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}

.style_reg {
    padding-bottom: 1%;
    text-decoration: none;
    color:rgba(255, 174, 0, 0.979);
}

.style_reg:hover {
    color:rgb(222, 247, 248);
}

.texto_error {
    color: red !important;
}